* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  :root {
    --main-color: #ffbf00;
    --accent-color: #000000;
  }
  
  header {
    background-color: var(--main-color);
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-right a {
    color: rgb(0, 0, 0);
    margin-left: 15px;
    text-decoration: none;
  }
  
  main {
    margin: 20px;
  }
  
  .search-container {
    background-color: #fec10b8e;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    margin: 0 auto;
  }
  
  .search-container h2 {
    margin-bottom: 15px;
  }
  
  .search-box {
    display: flex;
    align-items: center;
  }
  
  .search-box label {
    margin-right: 10px;
  }
  
  .search-box input {
    padding: 8px;
    width: 300px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-box button {
    padding: 8px 15px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .new-invoice {
    margin-left: 10px;
    background-color: #00a65a;
  }
  
  footer {
    background-color: #fec00b;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }